<header class="header">
  <a href="/" class="header_logo">Admin Panel</a>

  <nav class="header_nav">
    <ul>
      <li>
        <a href="/" class="">HOME</a>
      </li>
      <li>
        <a href="/about" class="">ABOUT</a>
      </li>
      <li>
        <a href="/contact" class="">CONTACT</a>
      </li>
    </ul>
  </nav>

  <div class="header_button">
    <a href="/logout">Logout</a>
  </div>
</header>